<div id="appCopy">
    <p id="notice" class="bottom"><%= notice %></p>
    <div class="new_note" id="saveButton">
        <p>Save Note</p>
    </div>
    <div class="notes_logo" id="logo"></div> 
        
    <%= render 'form', note: @note %>

</div>

<script>

 var saveButton = document.getElementById("saveButton"), logo = document.getElementById("logo")
 saveButton.onclick = () => {
    document.getElementById('submitButton').click()
 }
 logo.onclick = () => {
    window.location = "/"
 }
</script>